.divider1 {
	FONT-WEIGHT: bold;
	FONT-SIZE: 11px; 
	COLOR: #FFFFFF; 
	FONT-FAMILY: tahoma; 
	TEXT-DECORATION: none
}
A.link1 {
	FONT-WEIGHT: bold;
	FONT-SIZE: 11px;
	COLOR: #9B3501;
	FONT-FAMILY: tahoma;
	text-decoration: none;

}
A.link1:hover {
	FONT-WEIGHT: bold; 
	FONT-SIZE: 11px; 
	COLOR: #2F1000; 
	FONT-FAMILY: tahoma; 
	TEXT-DECORATION: none
}
.text1 {
	FONT-WEIGHT: normal;
	FONT-SIZE: 11px;
	COLOR: #000000;
	FONT-FAMILY: tahoma;
	TEXT-DECORATION: none;
	line-height: 22px;

}
.textbox {
	FONT-SIZE: 11px;
	COLOR: #000000;
	FONT-FAMILY: tahoma;
	border: 1px solid #7F2B00;
	width: 90px;

}
.button {
	FONT-WEIGHT: bold;
	FONT-SIZE: 11px;
	COLOR: #ffffff;
	FONT-FAMILY: tahoma;
	TEXT-DECORATION: none;
	background-color: #CE4C0A;
	border-top-color: #E39872;
	border-right-color: #BB3A07;
	border-bottom-color: #AF2F05;
	border-left-color: #DB7A48;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;

}
A.link2 {
	FONT-WEIGHT: normal;
	FONT-SIZE: 11px;
	LEFT: 25px;
	COLOR: #B9430B;
	FONT-FAMILY: tahoma; 
	TEXT-DECORATION: none
}
A.link2:hover {
	FONT-WEIGHT: normal;
	FONT-SIZE: 11px;
	COLOR: #cc3300;
	FONT-FAMILY: tahoma;
	TEXT-DECORATION: underline
}
A.link2a {
	FONT-WEIGHT: normal;
	FONT-SIZE: 10px;
	LEFT: 25px;
	COLOR: #0000FF;
	FONT-FAMILY: arial; 
	TEXT-DECORATION: none
}
A.link2a:hover {
	FONT-WEIGHT: normal;
	FONT-SIZE: 10px;
	COLOR: #0000BB;
	FONT-FAMILY: arial;
	TEXT-DECORATION: underline
}
A.link3 {
	FONT-SIZE: 11px;
	COLOR: #000066;
	FONT-FAMILY: tahoma, arial, verdana, helvetica;
	TEXT-DECORATION: none
}
A.link3:hover {
	FONT-SIZE: 11px;
	COLOR: #330099; 
	FONT-FAMILY: tahoma, arial, verdana, helvetica; 
	TEXT-DECORATION: underline
}
A.linkblack {
	FONT-WEIGHT: normal;
	FONT-SIZE: 11px;
	LEFT: 25px;
	COLOR: #012130;
	FONT-FAMILY: tahoma; 
	TEXT-DECORATION: none
}
A.linkblack:hover {
	FONT-WEIGHT: normal;
	FONT-SIZE: 11px;
	COLOR: #073145;
	FONT-FAMILY: tahoma;
	TEXT-DECORATION: underline
}

A.footerlink {
	FONT-SIZE: 10px;
	COLOR: #ffffff;
	FONT-FAMILY: ARIAL;
	TEXT-DECORATION: underline;
	padding-bottom: 5px;

}
A.footerlink:hover {
	FONT-WEIGHT: normal;
	FONT-SIZE: 10px;
	COLOR: #712600;
	FONT-FAMILY: ARIAL;
	TEXT-DECORATION: none;
	padding-bottom: 5px;

}
A.Menu2 {
	FONT-WEIGHT: bold;
	FONT-SIZE: 11px;
	COLOR: #000000;
	FONT-FAMILY: tahoma;
	TEXT-DECORATION: none;
	padding-bottom: 10px;
}
A.Menu2:hover {
	FONT-WEIGHT: bold;
	FONT-SIZE: 11px;
	COLOR: #A42100;
	FONT-FAMILY: tahoma;
	TEXT-DECORATION: none;
	padding-bottom: 10px;
	bottom: 10px;
}
a.Menu {
	font-family: Arial;
	font-size: 11px;
	font-weight: bold;
	COLOR: #ffffff;
	text-decoration: none;
	padding-left:2px;
	padding-right:2px;
	PADDING-BOTTOM: 5px;
	bottom: 5px;
}
a.Menu:hover {
	font-family: Arial;
	font-size: 11px;
	font-weight: bold;
	COLOR: #652B00;
	text-decoration: none;
	PADDING-BOTTOM: 5px;
	padding-left:2px;
	padding-right:2px;
	bottom: 5px;
}
a.Clickhere {
	font-family: Tahoma;
	font-size: 11px;
	font-weight: bold;
	COLOR: #B33F04;
	text-decoration: none;
	PADDING-BOTTOM: 5px;
	bottom: 5px;

}
a.Clickhere:hover {
	font-family: Tahoma;
	font-size: 11px;
	font-weight: bold;
	COLOR: #B33F04;
	text-decoration: underline;
	PADDING-BOTTOM: 5px;
	bottom: 5px;
	}
Clickhere {
	font-family: Tahoma;
	font-size: 11px;
	font-weight: bold;
	COLOR: #B33F04;
	text-decoration: underline;
	PADDING-BOTTOM: 5px;
	bottom: 5px;
	}
a.AdvanceSearch {
	font-family: Tahoma;
	font-size: 11px;
	font-weight: bold;
	COLOR: #ffffff;
	text-decoration:none;
	PADDING-BOTTOM: 5px;
	bottom: 5px;
}
a.AdvanceSearch:hover {
	font-family: Tahoma;
	font-size: 11px;
	font-weight: bold;
	COLOR: #ffffff;
	text-decoration: underline;
	PADDING-BOTTOM: 5px;
	bottom: 5px;
	}
	a.tabtext1 {
	font-family: Tahoma;
	font-size: 11px;
	font-weight: bold;
	COLOR: #401601;
	text-decoration: none;
	bottom: 5px;

}
a.tabtext1:hover {
	font-family: Tahoma;
	font-size: 11px;
	font-weight: bold;
	COLOR: #A64600;
	text-decoration: none;
	bottom: 5px;
	}
	a.tabvisitedtext2 {
	font-family: Tahoma;
	font-size: 11px;
	font-weight: bold;
	COLOR: #A64600;
	text-decoration: none;
	PADDING-BOTTOM: 5px;
	bottom: 5px;

}
a.tabvisitedtext2:hover {
	font-family: Tahoma;
	font-size: 11px;
	font-weight: bold;
	COLOR: #401601;
	text-decoration: none;
	PADDING-BOTTOM: 5px;
	bottom: 5px;
	}
.text2 {
	FONT-SIZE: 11px;
	COLOR: #5F2000;
	FONT-FAMILY: tahoma;
	TEXT-DECORATION: none;
}
.text3 {
	FONT-WEIGHT: normal;
	FONT-SIZE: 11px;
	COLOR: #FF6600;
	FONT-FAMILY: tahoma, ;
	TEXT-DECORATION: none
}
.text4 {
	FONT-SIZE: 11px;
	COLOR: #666666;
	FONT-FAMILY: tahoma, arial, verdana, helvetica;
	TEXT-DECORATION: none
}
.text5 {
	FONT-SIZE: 11px;
	COLOR: #FFFFFF;
	FONT-FAMILY: tahoma;
	TEXT-DECORATION: none;
	letter-spacing: 1px;

}
.textbold1 {
	FONT-WEIGHT: bold;
	FONT-SIZE: 12px; 
	COLOR: #ffffff; 
	FONT-FAMILY: tahoma, arial, verdana, helvetica;
	TEXT-DECORATION: none
}
.textbold1 {
	FONT-WEIGHT: bold;
	FONT-SIZE: 12px; 
	COLOR: #ffffff; 
	FONT-FAMILY: tahoma, arial, verdana, helvetica;
	TEXT-DECORATION: none
}

.tableheader {
	PADDING-RIGHT: 5px;
	PADDING-LEFT: 5px;
	FONT-WEIGHT: bold;
	FONT-SIZE: 11px;
	PADDING-BOTTOM: 4px;
	COLOR: #822C00;
	PADDING-TOP: 4px;
	FONT-FAMILY: tahoma; 
	HEIGHT: 22px; 
	BACKGROUND-COLOR: #F1F1F1
}
.tablecontent1 {
	PADDING-RIGHT: 5px;
	PADDING-LEFT: 5px;
	FONT-WEIGHT: normal;
	FONT-SIZE: 11px; 
	PADDING-BOTTOM: 2px; 
	COLOR: #000000; 
	PADDING-TOP: 2px; 
	FONT-FAMILY: Tahoma; 
	HEIGHT: 20px; 
	BACKGROUND-COLOR: #FFFFFF
}


.tablebg {
	border: 1px solid #CC3300;

}



.td_caption {
	PADDING-RIGHT: 5px;
	PADDING-LEFT: 5px; 
	FONT-WEIGHT: normal; 
	FONT-SIZE: 11px; 
	PADDING-BOTTOM: 2px; 
	COLOR: #000000; 
	PADDING-TOP: 2px; 
	FONT-FAMILY: tahoma; 
	HEIGHT: 20px; 
	BACKGROUND-COLOR: #F0F0F0;
}

.td_field {
	PADDING-RIGHT: 5px;
	PADDING-LEFT: 5px; 
	FONT-WEIGHT: normal; 
	FONT-SIZE: 11px; 
	PADDING-BOTTOM: 2px; 
	COLOR: #000000; 
	PADDING-TOP: 2px; 
	FONT-FAMILY: tahoma; 
	HEIGHT: 20px; 
	BACKGROUND-COLOR: #FCFCFC;
}

.tableheader2 {

	PADDING-RIGHT: 5px;
	PADDING-LEFT: 5px;
	FONT-WEIGHT: bold;
	FONT-SIZE: 11px;
	PADDING-BOTTOM: 4px;
	COLOR: #000000;
	PADDING-TOP: 4px;
	FONT-FAMILY: tahoma; 
	HEIGHT: 22px; 
	BACKGROUND-COLOR: #F1F1F1
}
.divider3 {


	FONT-WEIGHT: bold;
	FONT-SIZE: 11px; 
	COLOR: #B75B00; 
	FONT-FAMILY: tahoma; 
	TEXT-DECORATION: none
}
.textbold3 {
	FONT-WEIGHT: bold;
	FONT-SIZE: 11px;
	COLOR: #CC6633;
	FONT-FAMILY: tahoma, arial, verdana, helvetica;
	TEXT-DECORATION: none;
	line-height: 25px;

}
.blackbold {


	FONT-WEIGHT: bold;
	FONT-SIZE: 12px; 
	COLOR: #000000; 
	FONT-FAMILY: tahoma, arial, verdana, helvetica;
	TEXT-DECORATION: none
}


A.ticker {
	FONT-WEIGHT: normal;
	FONT-SIZE: 11px;
	COLOR: #2C2C2C;
	FONT-FAMILY: tahoma; 
	TEXT-DECORATION: none
}
A.ticker:hover {
	FONT-WEIGHT: normal;
	FONT-SIZE: 11px;
	LEFT: 25px;
	COLOR: #676767;
	FONT-FAMILY: tahoma; 
	TEXT-DECORATION: none
}
A.ticker2 {
	FONT-WEIGHT: normal;
	FONT-SIZE: 11px;
	COLOR: #2C2C2C;
	FONT-FAMILY: tahoma; 
	TEXT-DECORATION: none
}
A.ticker2:hover {
	FONT-WEIGHT: normal;
	FONT-SIZE: 11px;
	LEFT: 25px;
	COLOR: #FF0000;
	FONT-FAMILY: tahoma; 
	TEXT-DECORATION: none
}
A.mediaroom {
	FONT-WEIGHT: normal;
	FONT-SIZE: 11px;
	COLOR: #747474;
	FONT-FAMILY: tahoma; 
	TEXT-DECORATION: none
}
.pageheader {
	font-family: tahoma;
	font-size: 14px;
	color: #A03901;
	text-decoration: none;
	font-weight: bold;
}
.alert {

	PADDING-RIGHT: 8px;
	PADDING-LEFT: 8px;
	FONT-WEIGHT: bold;
	FONT-SIZE: 11px;
	COLOR: #FF0000;
	FONT-FAMILY: Arial, Helvetica, sans-serif; 
	TEXT-DECORATION: none
}
.searchbox {

	FONT-SIZE: 11px;
	COLOR: #333333;
	FONT-FAMILY: arial;
	border: 1px solid #000066;
}
.textareaa {

	font-family: Tahoma;
	font-size: 11px;
	color: #000000;
	background-color: #F9F9F9;
	border: 1px solid #C0C0C0;
}
.textbox2 {
	FONT-SIZE: 11px;
	COLOR: #000000;
	FONT-FAMILY: arial;
	HEIGHT: 20px;
	width: 120px;
	border: 1px solid #7F2B00;
	background-color: #FBE3D8;
}	
.subheader {
	FONT-WEIGHT: bold;
	FONT-SIZE: 10px;
	COLOR: #CE4D0B;
	FONT-FAMILY: Tahoma;
	TEXT-DECORATION: none;
	padding-left: 4px;

}
.date {
	FONT-WEIGHT: normal;
	FONT-SIZE: 11px;
	COLOR: #FFFFFF;
	FONT-FAMILY: tahoma; 
	TEXT-DECORATION: none
}
.logintext {

	PADDING-RIGHT: 8px;
	PADDING-LEFT: 8px;
	FONT-WEIGHT: normal;
	FONT-SIZE: 11px;
	COLOR: #541D00;
	FONT-FAMILY: tahoma; 
	TEXT-DECORATION: none
}
.copyright {
	FONT-SIZE: 11px;
	COLOR: #FFFFFF;
	FONT-FAMILY: tahoma;
	TEXT-DECORATION: none;
	padding-left: 5px;

}
.divider2 {

	FONT-WEIGHT: normal;
	FONT-SIZE: 10px; 
	COLOR: #FFFFFF; 
	FONT-FAMILY: tahoma; 
	TEXT-DECORATION: none
}
.tdbg {

	PADDING-RIGHT: 5px;
	PADDING-LEFT: 5px; 
	PADDING-BOTTOM: 2px; 
	PADDING-TOP: 2px; 
	HEIGHT: 20px; 
	BACKGROUND-COLOR: #FFFFFF
}
.textbold2 {

	FONT-WEIGHT: bold;
	FONT-SIZE: 12px; 
	COLOR: #CC6633; 
	FONT-FAMILY: tahoma, arial, verdana, helvetica;
	TEXT-DECORATION: none
}

a.Pagination {
	font-family: Tahoma;
	font-size: 11px;
	font-weight: bold;
	COLOR: #B33F04;
	text-decoration: none;
	PADDING-BOTTOM: 5px;
	bottom: 5px;

}

a.Pagination:hover {
	font-family: Tahoma;
	font-size: 11px;
	font-weight: bold;
	COLOR: #B33F04;
	text-decoration: underline;
	PADDING-BOTTOM: 5px;
	bottom: 5px;
}

/**
Rolling over
*/
#marqueecontainer
{
	position: relative;
	width: 517px;
	height: 100px;
	padding: 2px;
	left: -2px;
	overflow: hidden;
	top: 2px;
}
#marqueecontainer1
{
	position: relative;
	width: 517px;
	height: 101px;
	padding: 2px;
	left: -2px;
	overflow: hidden;
	top: 2px;
}

td{
	font-family:tahoma;
	font-size:11px;
	color:#252525;
}

/*****************************************************
* Additional Classess Added by Venkat 
* Time : 31-01-08
*****************************************************/
body{
	margin:0px 0px 0px 0px;
	background-color:#4F4F4F;
}

.navigation{
	background-color:#F3F3F3;
}

.page_content{
	padding:6px;
}

/*==========| Text Based Styles |==========*/
.mandatory{
	color:#FF2600;
	font-family:"Trebuchet MS";
	font-size:10px;
	font-weight:bold;
}

.error{
	color:#FF2600;
	padding:3px;	
}

.message{
	color:#3067DD;
	padding:2px;	
}

.message_box{
	border:1px solid #DDDD3D;
	background-color:#F9F9D9;
	font-style: "Trebuchet MS";
	font-size:11px;
	padding:4px;
}

/*==========| Links |==========*/

a{
	color:#CD4C0A;
	text-decoration:none;
}

a:hover{
	color:#6A6A6A;
	text-decoration:underline;
}

a.brown_link{
	color:#642200;
	text-decoration:none;
}

a.brown_link:hover{
	color:#6A6A6A;
	text-decoration:underline;
}

a.blue_link{
	color:#016CD1;
	text-decoration:none;
}

a.blue_link:hover{
	color:#FF6331;
	text-decoration:underline;
}


a.menulink {
	font-family: Tahoma;
	font-size: 10px;
	font-weight: bold;
	color: #CC3300;
	text-decoration: none;
	background-color: F3F3F3;
	padding-right: 8px;
	padding-bottom: 1px;
	padding-left: 5px;
	border: 1px solid #B2B2B2;
	padding-top: 3px;
	height: 20px;
	width: 100%;



}
a.menulink:hover {
	font-family: Tahoma;
	font-size: 10px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	background-color: #C6481C;
	padding-top: 3px;
	padding-right: 8px;
	padding-bottom: 1px;
	padding-left: 5px;
	border: 1px solid #6A260F;
	height: 20px;
	width: 100%;

}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
	}

#menu4 {
	width: 195px;
	margin: 10px;
	}
	
#menu4 li a {
  
	FONT-WEIGHT: bold;
	FONT-SIZE: 10px;
	FONT-FAMILY: tahoma;
    Height: 30px;
	text-decoration: none;
	}
	
#menu4 li a:link, #menu4 li a:visited {
	color: #000000;
	display: block;
	FONT-WEIGHT: bold;
	FONT-FAMILY: tahoma;
	FONT-SIZE: 10px;
	background: url("../images/web/menu4.gif");
	padding: 10px 0 0 30px;
	}
	
#menu4 li a:hover {
	color: #8E4A01;
	FONT-WEIGHT: bold;
	FONT-FAMILY: tahoma;
	FONT-SIZE: 10px;
	background: url("../images/web/menu4.gif") 0 -32px;
	padding: 10px 0 0 32px;
	}

/*==========| Grid |==========*/
.list_header td{
	padding:5px;
	FONT-WEIGHT: bold;
	FONT-SIZE: 11px;
	COLOR:#822C00;
	FONT-FAMILY: tahoma; 
	BACKGROUND-COLOR: #F1F1F1;
	border-bottom:1px solid #E3E3E3;
}

.list_table{
	border:1px solid #DEDEDE;
}

.odd td{
	background-color:#FAFAFA;
	border-bottom:1px solid #F9F9F9;
	padding:3px;
	font-size:11px;
}

.even td{
	background-color:#FFFFFF;
	border-bottom:1px solid #F9F9F9;
	padding:3px;
	font-size:11px;
}

.list_footer{
	padding:5px;
	FONT-SIZE: 11px;
	FONT-FAMILY: tahoma; 
	BACKGROUND-COLOR: #F1F1F1;
	border-top:1px solid #E3E3E3;
}

.status_odd td{
	background-color:#FAFAFA;
	border-bottom:1px solid #F9F9F9;
	padding:3px;
	font-size:11px;
}

.status_even td{
	background-color:#FFFFFF;
	border-bottom:1px solid #F9F9F9;
	padding:3px;
	font-size:11px;
}

/******************************************************/

/******************************************************
*	DOJO Warning Dialog classes
******************************************************/

.fieldMissing {
    background: #bedef4;
}

.fieldInvalid {
    background: #ffaf7e;
    font-weight: bold;
}

.alertButton {
        width: auto;
        border: none;
        background-color: #699ED9;
        color: #fff;
        padding: 0.1em;
        border-bottom: 1px solid #5885b6 !important;
        border-right: 1px solid #5885b6 !important;
        border-top: 1px solid #92b8e2 !important;
        border-left: 1px solid #92b8e2 !important;
        cursor: hand;
        cursor: pointer;
}

.alertDialog {
	font-family:verdana;
	font-size:11px;
	color:#121212;
    width: 30em;
    border: 2px solid #ff660a;
    padding: 1em;
    background: #ffffff;
    -moz-border-radius: 10px;
}

.alertContent .alertButton {
    float:right;
    position:relative;
    bottom:1em;
}

.missingList, .invalidList {
    padding-bottom: 0.6em;
    padding-top: 0.2em;
    padding-left:0.1em;
    padding-right:0.2em;
    margin: 0;
}

.missingList {
    border-top: 4px solid #bedef4;
}

.invalidList {
    border-top: 4px solid #ffaf7e;
}

.missingList li, .invalidList li {
    list-style:none;
    font-style:italic;
}

/************************/


.error{
	color:#D5310C;
}

.mandatory{
	font-family:"Trebuchet MS";
	font-size:11px;
	font-weight:bold;
	color:#FF2600;
}

.notes{
	border-top:1px dashed #DEDEDE;
	border-bottom:1px dashed #DEDEDE;
	background-color:#FAFAFA;
	color:#AD3737;
	/*font-style:italic;*/
	font-family: tahoma;
	font-size:11px;
	padding:2px;
	padding-left:5px;
}

.td_column{
	color: #10529C;
	padding:3px;
}

.td_element{

	color: #141414;
	padding:3px;
}

.sans_style{
	border-style:none;
	background-color:none;
}


.frame_name{
	border:1px solid #DCDCDC;
	background-color:#FFFFFF;
	color:#242424;
	padding:3px;
	padding-left:6px;
	font-weight:bold;
}

input, select, textarea{
	font-family: verdana;
	font-size:11px;
	color:#212121;
	border:1px solid #C9C9C9;
}

.td_space{
	padding:5px;
}

.bid_opening_banner{
	padding:8px;font-size:12px;font-weight:bold;color:#FF2400;border-bottom:1px solid #A9A9A9;
}

.filter_caption{
	background-color:#F0F5FC;
	border-right:1px solid #CACCE7;
	padding:3px;
	padding-left:5px;
}

.filter_switch{
	border-right:1px solid #B7CDE7;
	border-left:1px solid #B7CDE7;
	border-bottom:1px solid #B7CDE7;
	padding:3px;
	padding-left:5px;
}

.big_text{
	font-size:12px;
	font-weight:bold;
	padding:2px;
	color:#121212;	
}


.bread_crums{
	padding:15px;
	padding-left:5px;
}

.page_header_text{
	font-family: verdana;
	font-size: 13px;
	color: #0764BA;
	text-transform:uppercase;
	font-weight: bold;
}

.page_header{
	font-family: verdana;
	font-size: 13px;
	color: #0764BA;
	font-weight: bold;
}

.content_area{
	background-color:#F3F3F3;
	padding:6px;
}

.tab_active{
	background-image: url("../images/tab_hbg.gif");
	background-position: left bottom;
	background-repeat: repeat-x;
	color: #1962B2;
	text-align:center;
	font-weight: bold;
}

.tab_inactive{
	background-image: url("../images/tabbg.gif");
	background-position: left bottom;
	background-repeat: repeat-x;
	color: #000000;
	text-align:center;
	font-weight: bold;
}

.button {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #000000;
	padding: 1px 5px 2px;
	background-image: url("../images/butbg.gif");
	border: 1px solid #FFC48B;
	text-decoration: none;
}

img {
	border: none;
}

.page_notes{
	font-size:10px;
	padding:2px;
	background-color:#FAFAFA;
	border-top:1px solid #A8A8A8;
	border-bottom:1px solid #A8A8A8;
}

/*- Menu Tabs --------------------------- */

	#tabsJ {
		float:left;
		width:100%;   
		font: bold 11px/1.5em Verdana;
		font-size:93%;
		line-height:normal;
		border-bottom:1px solid #24618E;
	}
	#tabsJ ul {
		margin:0;
		padding:5px 10px 0 50px;
		list-style:none;
	}
	#tabsJ li {
		display:inline;
		margin:0;
		padding:0;
	}
	#tabsJ a {
		float:left;
		background:url("../images/web/date_tableft.gif") no-repeat left top;
		margin:0;
		padding:0 0 0 5px;
		text-decoration:none;
	}
	
	#tabsJ a span {
		float:left;
		display:block;
		background:url("../images/web/date_tabright.gif") no-repeat right top;
		padding:5px 15px 4px 6px;
		color:#24618E;
	}
	
	/* Commented Backslash Hack hides rule from IE5-Mac \*/
	#tabsJ a span {float:none;}
	/* End IE5-Mac hack */
	#tabsJ a:hover span {
		color:#FFF;
	}
	#tabsJ a:hover {
		background-position:0% -42px;
	}
	#tabsJ a:hover span {
		background-position:100% -42px;
	}

	#tabsJ .highlight {		
		background-position:0% -42px;
	}
	#tabsJ .highlight span {
		color:#FFF;
		background-position:100% -42px;
	}


	#console{
		position:absolute; 
		top:0; 
		left:0; 
		width:1000px; 
		height:590px; 
		visibility:hidden;
		filter:alpha(opacity=60);    
	   -moz-opacity: 0.6;    
	   opacity: 0.6; 	   	 
	}

	#progressBar{
		padding-top:150px;
		float:left;
		width:1000px; 
		height:590px; 
		background-color:white; 				
	}

	#progressBox{
		font-size:11px;
		font-family:tahoma;	
		color:#010101;
		padding:5px;
		border:1px solid #F05B0A;
		width:200px;
		font-weight:bold;
	}

	/*========|Policy Class|========*/
	.policy_box{
		border:1px solid #454545;
		border-top:2px solid #454545;
	}

	.policy_head{
		background-color:#CDCECF;
		font-family:"Trebuchet MS";
		color:#121212;
		font-weight:bold;
		padding:3px;
		border-bottom:1px solid #ACAEB0;
	}
	
	.policy_data{
		background-color:#FFFFFF;
		font-family:"Trebuchet MS";
		color:#121212;
		padding:4px;
	}
	
	.footer td{
		font-family:tahoma;
		font-size:10px;
		color:#FFFFFF;
		padding:2px;
	}
	
		
	.notice{
		padding:4px;
		background-color:#FFFFFF;
		border:1px solid #D5D5D5;
		color:#121212;
		font-family:Tahoma;
		font-size:11px;
		font-weight:bold;
	}
	
	.notice_strip{
		background-color:#7D080D;
		padding:4px;
		border:1px solid #BE5825;
		font-family:verdana;
		font-size:10px;
		color:#FFFFFF;
	}
	
	a.notice_link{
		font-family:verdana;
		font-size:10px;
		color:#FFFFFF;
		text-decoration:none;
	}
	
	a.notice_link:hover{
		font-family:verdana;
		font-size:10px;
		color:#FFFF1F;
		text-decoration:underline;
	}


	.faq_heading{
		background-color:#E9E9E9;
		border:1px solid #C9C9C9;
		padding:2px;		
		cursor:hand;
	}

	.faq_text{
		background-color:#FFFFFF;
		/*border:1px solid #C9C9C9;*/
		padding:4px;
		padding-left:10px;
		font-size:11px;
		color:#101010;
	}

	a.faqLink{
		font-family:verdana;
		font-size:12px;
		color:#101010;
		text-decoration:none;
	}
	
