@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,500italic,700,700italic,900,900italic,400italic);
.flexdropdownmenu, .flexdropdownmenu ul{ /*topmost and sub ULs, respectively*/
font-size:12px;
font-family:Arial;
margin: 0;
padding: 0;
position: absolute;
left: 0;
top: 0;
list-style-type: none;
background: white;
border-bottom-width: 0;
visibility: hidden;
display: none; /*collapse all sub menus to begin with*/
}


.flexdropdownmenu li{
position: relative;
list-style:none;
}

.flexdropdownmenu li a{
display: block;
width: 210px; /*width of menu (not including side paddings)*/
color: #fff;
background: #886A36;
border-bottom: 1px solid #9A7B45;
text-decoration: none;
padding: 3px 10px;
text-transform:none;
font-weight:600;
}

* html .flexdropdownmenu li{ /*IE6 CSS hack*/
display: inline-block;
width: 200px; /*width of menu (include side paddings of LI A*/
}

.flexdropdownmenu li a:hover, .flexdropdownmenu li.selected>a{
background: #D7261C;
color:#ffffff;
}

.rightarrowclass{
position: absolute;
top: 13px;
right: 13px;
}

