/* CSS Document */
.LV_validation_message
{
    margin: 0 0 0 0px;
}

.LV_valid {
    color:#00CC00;
}
	
.LV_invalid {
    color:#FF0000;
}
    
.LV_valid_field,
input.LV_valid_field:hover, 
input.LV_valid_field:active,
textarea.LV_valid_field:hover, 
textarea.LV_valid_field:active {
    border: 1px solid #00CC00;
}
    
.LV_invalid_field, 
input.LV_invalid_field:hover, 
input.LV_invalid_field:active,
textarea.LV_invalid_field:hover, 
textarea.LV_invalid_field:active {
    border: 1px solid #FF0000;																																						
}
